version: 2

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      actions:
        patterns:
          - '*'

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
