{{#> senoppfolging/partials/expansionCard
    title="Har du allerede søkt om AAP eller en annen pengestøtte?"
    hasDescription=false
}}
    {{#*inline "content"}}
        <p>Dette skjemaet har ikke informasjon om du har søkt på andre pengestøtter.</p>
        <p>Hvis du har søkt om en pengestøtte vil ikke svarene dine her ha noen innvirkning på behandlingen av søknaden din.</p>
    {{/inline}}
{{/senoppfolging/partials/expansionCard}}
