{{#> senoppfolging/partials/expansionCard
    title="Beregnet slutt på sykepenger"
    hasDescription=true
}}
    {{#*inline "description"}}
        Din maksdato er beregnet til å være {{ maxdatoFormatted }}. Åpne kortet for å lese mer.
    {{/inline}}

    {{#*inline "content"}}
        <p>
            Du kan maksimalt få sykepenger fra Nav i 52 uker. Grensen er den samme enten du er helt eller delvis sykmeldt. Den siste datoen du kan få sykepenger kalles maksdato. Din maksdato ble sist oppdatert {{ utbetaltTomFormatted }}. Maksdatoen gjelder fortsatt hvis du har vært sammenhengende sykmeldt og mottatt sykepenger siden da. Den vil forskyve seg til en senere dato hvis du har perioder etter {{ utbetaltTomFormatted }} der du ikke mottar sykepenger. Det kan skje hvis du er frisk i perioder eller hvis du tar ferie.
    </p>
    {{/inline}}
{{/senoppfolging/partials/expansionCard}}
